<div class="game-control">
    <div class="round-select">
        {{#each rounds}}
        <div class=" round">
            <div>Round {{ this }}</div>
            <div>09:05</div>
        </div>
        {{/each}}
    </div>
    <ul class="tabs" data-tabs id="racing-bet-content">
        <li class="tabs-title is-active"><a href="#race-card" aria-selected="true">Race Card</a></li>
        <li class="tabs-title"><a data-tabs-target="forecast" href="#forecast">Forecast</a></li>
    </ul>
    <div class="tabs-content" data-tabs-content="racing-bet-content">
        <div class="tabs-panel is-active" id="race-card">
            <div class="round-bet bet-carousel">
                {{#repeat 9}}
                <div class="round-{{add @index 1}}">
                    <div class="grid-x row-1">
                        <div class="cell race-pos col-1">
                            <div class="race-pos__no round-no"></div>
                        </div>
                        <div class="cell auto">Winner</div>
                        <div class="cell auto">Place</div>
                        <div class="cell auto">Show</div>
                    </div>
                    {{#each round-bet-dogs}}
                    <div class="grid-x">
                        <div class="cell race-pos col-1">
                            <div class="race-pos__no dog-pos-{{ this.no }}"><span>{{ this.no }}</span></div>
                        </div>
                        <div class="cell auto">
                            <button class="bet-btn">{{add this.coef1 @index }}</button>
                        </div>
                        <div class="cell auto">
                            <button class="bet-btn">{{add this.coef2 @index }}</button>
                        </div>
                        <div class="cell auto">
                            <button class="bet-btn">{{add this.coef3 @index }}</button>
                        </div>
                    </div>
                    {{/each}}
                </div>
                {{/repeat}}
            </div>
        </div>
        <div class="tabs-panel" id="forecast">
            <div class="round-bet forecast-carousel">
                {{#repeat 9}}
                <div class="round-{{add @index 1}}">
                    <div class="grid-x row-1">
                        <div class="cell race-pos auto col-1">
                            <div class="race-pos__no round-no"></div>
                        </div>
                        {{#each round-bet-dogs}}
                        <div class="cell auto">
                            <div class="race-pos__no dog-pos-{{ this.no }}"><span>{{ this.no }}</span></div>
                        </div>
                        {{/each}}
                    </div>
                    {{#each round-bet-dogs}}
                    <div class="grid-x">
                        <div class="cell race-pos auto col-1">
                            <div class="race-pos__no dog-pos-{{ this.no }}"><span>{{ this.no }}</span></div>
                        </div>
                        <div class="cell auto">
                            <button class="bet-btn">{{#ifequal 1 (add 1 @index) }} - {{else}} {{add this.coef1 @index}} {{/ifequal}}</button>
                        </div>
                        <div class="cell auto">
                            <button class="bet-btn">{{#ifequal 2 (add 1 @index) }} - {{else}} {{add this.coef2 @index}} {{/ifequal}}</button>
                        </div>
                        <div class="cell auto">
                            <button class="bet-btn">{{#ifequal 3 (add 1 @index) }} - {{else}} {{add this.coef3 @index}} {{/ifequal}}</button>
                        </div>
                        <div class="cell auto">
                            <button class="bet-btn">{{#ifequal 4 (add 1 @index) }} - {{else}} {{add this.coef4 @index}} {{/ifequal}}</button>
                        </div>
                        <div class="cell auto">
                            <button class="bet-btn">{{#ifequal 5 (add 1 @index) }} - {{else}} {{add this.coef5 @index}} {{/ifequal}}</button>
                        </div>
                        <div class="cell auto">
                            <button class="bet-btn">{{#ifequal 6 (add 1 @index) }} - {{else}} {{add this.coef6 @index}} {{/ifequal}}</button>
                        </div>
                    </div>
                    {{/each}}
                </div>
                {{/repeat}}
            </div>
        </div>
    </div>
</div>
