@mixin loading-spinner($borderColor: $shade-2, $activeColor: $primary-color, $time: 1.5s, $size: 40px, $borderThickness: $size/8) {
    @keyframes spinner {
        0% {
            transform: translate3d(-50%, -50%, 0) rotate(0deg);
        }

        100% {
            transform: translate3d(-50%, -50%, 0) rotate(360deg);
        }
    }

    animation-play-state: running;
    opacity: 1;
    position: relative;

    &.-paused {
        animation-play-state: paused;
        opacity: 0.2;
        transition: opacity linear 0.1s;
    }

    > * {
        filter: blur(2px);
    }

    .loading-spinner {
        &::before {
            display: none;
        }

        &::after {
            display: none;
        }
    }

    &::before {
        animation: $time linear infinite spinner;
        animation-play-state: inherit;
        border: solid $borderThickness $borderColor;
        border-bottom-color: #{$activeColor};
        border-radius: 50%;
        content: "";
        height: $size;
        width: $size;
        top: 50%;
        left: 50%;
        opacity: inherit;
        position: absolute;
        transform: translate3d(-50%, -50%, 0);
        will-change: transform;
        z-index: 999999;
    }

    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0.5;
        background-color: $black;
        z-index: 999999;
    }
}

.loading-spinner {
    $size: 30px;
    @include loading-spinner($white, $primary-color, 0.8s, $size, $size/10);

    &-10{
        $size: 10px;
        @include loading-spinner($white, $primary-color, 0.8s, $size, $size/10);
    }

    &-20{
        $size: 20px;
        @include loading-spinner($white, $primary-color, 0.8s, $size, $size/10);
    }

    &-30{
        $size: 30px;
        @include loading-spinner($white, $primary-color, 0.8s, $size, $size/10);
    }

    &-40{
        $size: 40px;
        @include loading-spinner($white, $primary-color, 0.8s, $size, $size/10);
    }

    &-50{
        $size: 50px;
        @include loading-spinner($white, $primary-color, 0.8s, $size, $size/10);
    }

    &-60{
        $size: 60px;
        @include loading-spinner($white, $primary-color, 0.8s, $size, $size/10);
    }
}