.accordion-title {
    position: relative;
    display: block;
    padding: rem-calc(12 10);
    font-size: 0.9rem;
    line-height: 1;
    color: $primary-color;
    border: none;

    &:hover,
    &:focus {
        background-color: $shade-2;
        outline: none;
    }
}

.accordion-content {
    border: none;
    padding: 5px;
    font-size: 0.75rem;
    background-color: $shade-2;

    tr {
        color: darken($white, 20);

        &:hover {
            color: $white
        }
    }
}