.betslip {
    padding: 12px;

    &__title {
        color: $primary-color;
        font-size: $font-size-lg;
        margin-bottom: $baseline;
    }

    &__content {
        min-height: $baseline * 10;
    }

    &__item {
        div {
            margin-bottom: $baseline/3;

            &:last-child,
            &.in-a-row > {
                margin-bottom: 0;
            }
        }

        position: relative;
        background-color: $dark-1;
        padding: $baseline/2;

        .close-button {
            color: $shade-3;
        }

        &__content {
        }

        &-title {
            font-size: $font-size-sm;
            font-weight: 600;
        }

        &-subtitle {
            font-size: $font-size-sm;
            font-weight: 600;
        }

        &-data {
            display: flex;
            justify-content: space-between;
        }

        &-label {
            display: flex;
            padding: $baseline/4 $baseline/2;
            background-color: $secondary-color;
            justify-content: space-between;
            width: 50%;
            font-size: $font-size-sm;

            &-info {
            }

            &-odd {
                font-weight: bold;
            }
        }

        &-stake {
            justify-content: space-between;
            padding: 0;
            display: flex;
            background-color: $secondary-color;
            width: calc(50% - #{$baseline * 3/2});
            font-size: $font-size-sm;

            span {
                padding: $baseline/4 $baseline/2;
            }

            &__value {
                display: inline-block;
                width: 50%;
                height: 100%;
                margin: 0;
                background: $secondary-color;
                box-shadow: none;
                border: none;
                color: $primary-color;
                outline: 0;
                text-align: center;
                border-top-right-radius: 3px;
                border-bottom-right-radius: 3px;

                &:focus {
                    box-shadow: none;
                    background-color: lighten($secondary-color, 5);
                    border: none;
                }
            }
        }
    }
}