.top-bar{
    $header-height: $baseline;

    position: relative;

    @include breakpoint(medium only ) {
        $header-height: $baseline * 2;
        margin: $baseline/2 $baseline/2 0;
    }

    .button {
        height: 100%;
        margin: 0;
        color: rgba(255, 255, 255, 0.7);
        background-color: $dark-1;
    }

    .game-title {
        display: block;
        width: 100%;
        height: $header-height;
        font-size: $font-size-base;
        text-align: center;
        vertical-align: middle;
        line-height: $header-height;
        margin: 0;
        padding: 0;
        color: $primary-color;

        @include breakpoint(medium up) {
            font-size: $font-size-lg;
        }
    }

    .sidebar-toggler{
        position: absolute;
        top: 0;

        &.left-toggler{
            left: 0;
        }
        &.right-toggler{
            right: 0;
        }
    }
}