@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon/icomoon.eot?xuq0dr');
    src:  url('../fonts/icomoon/icomoon.eot?xuq0dr#iefix') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon.ttf?xuq0dr') format('truetype'),
    url('../fonts/icomoon/icomoon.woff?xuq0dr') format('woff'),
    url('../fonts/icomoon/icomoon.svg?xuq0dr#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    padding-right: 10px;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-heart:before {
    content: "\e900";
}
.icon-cloud:before {
    content: "\e901";
}
.icon-star:before {
    content: "\e902";
}
.icon-tv:before {
    content: "\e903";
}
.icon-sound:before {
    content: "\e904";
}
.icon-video:before {
    content: "\e905";
}
.icon-trash:before {
    content: "\e906";
}
.icon-user:before {
    content: "\e907";
}
.icon-key:before {
    content: "\e908";
}
.icon-search:before {
    content: "\e909";
}
.icon-settings:before {
    content: "\e90a";
}
.icon-camera:before {
    content: "\e90b";
}
.icon-tag:before {
    content: "\e90c";
}
.icon-lock:before {
    content: "\e90d";
}
.icon-bulb:before {
    content: "\e90e";
}
.icon-pen:before {
    content: "\e90f";
}
.icon-diamond:before {
    content: "\e910";
}
.icon-display:before {
    content: "\e911";
}
.icon-location:before {
    content: "\e912";
}
.icon-eye:before {
    content: "\e913";
}
.icon-bubble:before {
    content: "\e914";
}
.icon-stack:before {
    content: "\e915";
}
.icon-cup:before {
    content: "\e916";
}
.icon-phone:before {
    content: "\e917";
}
.icon-news:before {
    content: "\e918";
}
.icon-mail:before {
    content: "\e919";
}
.icon-like:before {
    content: "\e91a";
}
.icon-photo:before {
    content: "\e91b";
}
.icon-note:before {
    content: "\e91c";
}
.icon-clock:before {
    content: "\e91d";
}
.icon-paperplane:before {
    content: "\e91e";
}
.icon-params:before {
    content: "\e91f";
}
.icon-banknote:before {
    content: "\e920";
}
.icon-data:before {
    content: "\e921";
}
.icon-music:before {
    content: "\e922";
}
.icon-megaphone:before {
    content: "\e923";
}
.icon-study:before {
    content: "\e924";
}
.icon-lab:before {
    content: "\e925";
}
.icon-food:before {
    content: "\e926";
}
.icon-t-shirt:before {
    content: "\e927";
}
.icon-fire:before {
    content: "\e928";
}
.icon-clip:before {
    content: "\e929";
}
.icon-shop:before {
    content: "\e92a";
}
.icon-calendar:before {
    content: "\e92b";
}
.icon-wallet:before {
    content: "\e92c";
}
.icon-vynil:before {
    content: "\e92d";
}
.icon-truck:before {
    content: "\e92e";
}
.icon-world:before {
    content: "\e92f";
}
.icon-add-outline:before {
    content: "\e930";
}
.icon-add-solid:before {
    content: "\e931";
}
.icon-checkmark:before {
    content: "\e932";
}
.icon-checkmark-outline:before {
    content: "\e933";
}
.icon-cheveron-down:before {
    content: "\e934";
}
.icon-cheveron-left:before {
    content: "\e935";
}
.icon-cheveron-outline-down:before {
    content: "\e936";
}
.icon-cheveron-outline-left:before {
    content: "\e937";
}
.icon-cheveron-outline-right:before {
    content: "\e938";
}
.icon-cheveron-outline-up:before {
    content: "\e939";
}
.icon-cheveron-right:before {
    content: "\e93a";
}
.icon-cheveron-up:before {
    content: "\e93b";
}
.icon-close:before {
    content: "\e93c";
}
.icon-close-outline:before {
    content: "\e93d";
}
.icon-close-solid:before {
    content: "\e93e";
}
.icon-download:before {
    content: "\e93f";
}
.icon-heart1:before {
    content: "\e940";
}
.icon-thumbs-down:before {
    content: "\e941";
}
.icon-thumbs-up:before {
    content: "\e942";
}
.icon-user1:before {
    content: "\e943";
}
.icon-user-add:before {
    content: "\e944";
}
.icon-view-carousel:before {
    content: "\e945";
}
.icon-view-column:before {
    content: "\e946";
}
.icon-view-list:before {
    content: "\e947";
}
.icon-view-show:before {
    content: "\e948";
}
.icon-zoom-in:before {
    content: "\e949";
}
.icon-zoom-out:before {
    content: "\e94a";
}
