.race-pos {
    $width: $baseline * 2;
    $height: $baseline * 2;

    &.col-1 {
        width: $width * 4/3;
        max-width: $width * 4/3;
        height: $height;
        max-height: $height;
        line-height: $height;

        &.auto {
            max-width: $width * 4/3;
        }
    }

    &__no {
        vertical-align: middle;
        text-align: center;

        span {
            display: block;
            text-align: center;
            vertical-align: middle;
            font-size: $width/2;
            color: $color-white-true;
            line-height: $height;
        }

        &.dog-pos-1 {background-color: $color-bg-dog-pos-1;}

        &.dog-pos-2 {background-color: $color-bg-dog-pos-2;}

        &.dog-pos-3 {
            background-color: $color-bg-dog-pos-3;

            span {
                color: $color-txt-dog-pos-3;
            }
        }

        &.dog-pos-4 {background-color: $color-bg-dog-pos-4;}

        &.dog-pos-5 {background-color: $color-bg-dog-pos-5;}

        &.dog-pos-6 {
            background-color: $color-bg-dog-pos-6;
            position: relative;
            height: $height;

            span {
                color: $color-txt-dog-pos-6;
                background-color: $color-bg-dog-pos-6;
                padding: 0 $width/12;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                height: $height * 2/3;
                line-height: $height * 2/3;
            }

            &::before {
                content: '';
                display: block;
                width: 100%;
                height: $height * 2/15;
                position: absolute;
                background: $color-black-true;
                box-shadow: 0 $height * 4/15 $color-black-true,
                0 $height * 17/30 $color-black-true,
                0 $height * 13/15 $color-black-true;
            }
        }
    }

    .round-no {
        font-size: rem-calc(12);
        color: $primary-color;
    }
}
