<div class="cell shrink header medium-cell-block-container">
    {{> header}}
</div>
<div class="off-canvas-wrapper">

    <aside class="sidebar-left off-canvas-absolute position-left reveal-for-large"
           data-off-canvas
           data-transition="overlap"
           id="offcanvassidebar">
        {{> sidebar-left }}
    </aside>

    <div class="off-canvas-content" data-off-canvas-content data-content-scroll="false">
        <div class="cell medium-auto medium-cell-block-container">
            <div id="content-wrapper" class="grid-x grid-padding-x grid-padding-y ">
                <main class="small-12 medium-cell-block-y scrollbar-macosx">
                    <div class="spacer">
                        {{> main }}
                    </div>
                </main>
            </div>
        </div>
        <!--   <div class="cell shrink footer">
           </div>-->
    </div>
    <aside class="sidebar-right off-canvas-absolute position-right reveal-for-large"
           data-off-canvas
           data-transition="overlap"
           id="offcanvasbetslip">
        {{> sidebar-right }}
    </aside>
</div>