<div class="game-select">
    <div class="carousel-cell"><img src="{{root}}assets/img/1_dog_race_main.jpg" alt=""></div>
    <div class="carousel-cell"><img src="{{root}}assets/img/2_keno_game_main.jpg" alt=""></div>
    <div class="carousel-cell"><img src="{{root}}assets/img/3_bingo_game_main.jpg" alt=""></div>
    <div class="carousel-cell"><img src="{{root}}assets/img/4_football_game_main.jpg" alt=""></div>
    <div class="carousel-cell"><img src="{{root}}assets/img/5_roulette_game_main.jpg" alt=""></div>
    <div class="carousel-cell"><img src="{{root}}assets/img/6_horse_race_main.jpg" alt=""></div>
</div>