<div class="top-bar">
    <h1 class="game-title">
        Grayhound Game
    </h1>
    <button type="button" class="sidebar-toggler left-toggler button hide-for-large" data-toggle="offcanvassidebar">
        Leftbar
    </button>
    <button type="button" class="sidebar-toggler right-toggler button hide-for-large" data-toggle="offcanvasbetslip">
        Betslip
    </button>
</div>