{{> main_game-select }}
<div class="game-container">
    <div class="game-1">
        {{> main_game-1_view }}
        {{> main_game-1_control }}
    </div>
    <div class="game-2">
        {{> main_game-2_view }}
        {{> main_game-2_control }}
    </div>
    <div class="game-3">
        {{> main_game-3_view }}
        {{> main_game-3_control }}
    </div>
    <div class="game-4">
        {{> main_game-4_view }}
        {{> main_game-4_control }}
    </div>
    <div class="game-5">
        {{> main_game-5_view }}
        {{> main_game-5_control }}
    </div>
    <div class="game-6">
        {{> main_game-6_view }}
        {{> main_game-6_control }}
    </div>
</div>
