<div class="betslip">
    <div class="betslip__title">
        Betslip
    </div>
    <div class="betslip__content">
        <div class="betslip__item" data-closable>
            <button class="close-button" aria-label="Close alert" type="button" data-close>
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="betslip__item-title">1</div>
            <div class="betslip__item-subtitle">Place</div>
            <div class="betslip__item-data">
                <div class="betslip__item-label">
                    <span class="betslip__item-label-info">Round 302</span>
                    <span class="betslip__item-label-odd">2.35</span>
                </div>
                <div class="betslip__item-stake">
                    <span>Stake</span>
                    <input class="betslip__item-stake__value" placeholder="20.00" type="text">
                </div>
            </div>
        </div>
    </div>
</div>
