<ul class="accordion" data-accordion data-multi-expand="true" data-allow-all-closed="true">
    <li class="accordion-item is-active" data-accordion-item>
        <a href="#" class="accordion-title">Results</a>

        <div class="accordion-content" data-tab-content aria-hidden="true">
            <table class="hover">
                <thead>
                    <tr><th width="50%">Game</th><th width="50%">Results</th></tr>
                </thead>
                <tbody>
                    <tr><td>Content</td><td>This</td></tr>
                    <tr><td>Content</td><td>This</td></tr>
                    <tr><td>Content</td><td>This</td></tr>
                </tbody>
            </table>
        </div>
    </li>
</ul>

<ul class="accordion" data-accordion data-multi-expand="true" data-allow-all-closed="true">
    <li class="accordion-item is-active" data-accordion-item>
        <a href="#" class="accordion-title">Last reports</a>
        <div class="accordion-content" data-tab-content>
            <table class="hover">
                <thead>
                <tr><th width="50%">User</th><th width="50%">Winning</th></tr>
                </thead>
                <tbody>
                <tr><td>Content</td><td>This</td></tr>
                <tr><td>Content</td><td>This</td></tr>
                <tr><td>Content</td><td>This</td></tr>
                </tbody>
            </table>
        </div>
    </li>
</ul>
