body {
    min-width: 320px;
    background-color: #142c37;
}

.sidebar-left {
    background: #12242e;
}

.position-left.reveal-for-large ~ .off-canvas-content{
    @include breakpoint(large up) {
        margin-left: $baseline * 10;
    }
}

.sidebar-right {
    background: #12242e;

    @include breakpoint(large up) {
        width: $baseline * 12;
    }
}

.off-canvas-content.has-reveal-right{
    @include breakpoint(large up) {
        margin-right: $baseline * 12;
    }
}

* {
    outline: none;
}

table,
p {
    margin-bottom: 10px;

    &:last-child {
        margin-bottom: 0;
    }
}

.spacer {
    padding: 0;

    @include breakpoint(medium up){
        padding: 0 $baseline/2 $baseline/2;
    }
}

.virtual-wrapper {
/*    padding: 7px;*/
}

.game-select,
.round-select {
    margin-bottom: 10px;
}

.round-select {
    background-color: darken(#1a3442, 5);
    border: 1px solid rgba($primary-color, 0.3);

    .round {
        font-size: 12px;
        text-align: center;
        color: #00ffb9;
        padding: $baseline/4 0;

        &.is-nav-selected {
            background-color: darken(#1a3442, 10);

            &:hover {
                background-color: darken(#1a3442, 10);
            }
        }

        &:hover {
            background-color: darken(#1a3442, 7);
        }
    }
}

.bet-btn {
    @extend .button;
    @extend .expanded;

    margin: 0;
    height: 100%;
    border: none;
    padding: 0;
    transition: all 0.2s linear;

    &:focus {
        background-color: #1a3442;
    }

    &:hover {
        background-color: #1a3442;
        color: #ebebeb;
    }

    &:active,
    &.active {
        background-color: darken($primary-color, 5);
        font-size: 102%;
    }
}

.round-bet,
.round-forecast {
    width: 100%;
    .cell {
        padding: $baseline/12 1px;
    }

    .flickity-viewport {
        min-height: $baseline * 2 * 7 + $baseline/12 * 2 * 7 !important; ;
    }
}

.column {
    .color-test {
        width: 100%;
        height: 100px;
    }
    &.one {
        .color-test {
            &:nth-child(1) {background-color: #00ce96;}
            &:nth-child(2) {background-color: #293d33;}
            &:nth-child(3) {background-color: #1e2b26;}
            &:nth-child(4) {background-color: #15221d;}
            &:nth-child(5) {background-color: #293333;}
        }
    }
    &.two {
        .color-test {
            &:nth-child(1) {background-color: #00ce96;}
            &:nth-child(2) {background-color: #fff;}
            &:nth-child(3) {background-color: #fff;}
            &:nth-child(4) {background-color: #fff;}
            &:nth-child(5) {background-color:  #fff;}
        }
    }
}