// -----------------------------------------------------------------------------
//colors
$white: #ffffff;
$color_mine_shaft_approx: #333333;
$color_dodger_blue_approx: #1199ff;

.flickity-enabled {
    position: relative;

    &:focus {
        outline: none;
    }

    &.is-draggable {
        //Instead of the line below you could use @include user-select($select)
        user-select: none;

        .flickity-viewport {
            cursor: default;

            &.is-pointer-down {
                cursor: default;
            }
        }
    }
}

.flickity-viewport {
    overflow: hidden;
    position: relative;
    height: 100%;
}

.flickity-slider {
    position: absolute;
    width: 100%;
    height: 100%;

    .carousel-cell {
        cursor: pointer;
    }
}

.flickity-button {
    position: absolute;
    background: $primary-color;
    border: none;
    color: $white;

    &:hover {
        background: lighten($primary-color, 10);
        cursor: pointer;

    }

    &:focus {
        outline: none;
        box-shadow: none;
    }

    &:active {
        opacity: 0.6;
    }

    &:disabled {
        opacity: 0.3;
        cursor: auto;
        pointer-events: none;
    }
}

.flickity-button-icon {
    fill: currentColor;
}

$slider-arrows-space: $baseline;
$slider-arrows-space-medium-up: $baseline * 2;

.flickity-prev-next-button {
    top: 50%;
    height: 100%;
    border-radius: 0;
    transform: translateY(-50%);

    .flickity-button-icon {
        position: absolute;
        left: 20%;
        top: 20%;
        width: 60%;
        height: 60%;
    }

    width: $slider-arrows-space;

    @include breakpoint(medium up) {
        width: $slider-arrows-space-medium-up;
    }

    &.previous {
        left: -$slider-arrows-space;

        @include breakpoint(medium up) {
            left: -$slider-arrows-space-medium-up;
        }
    }

    &.next {
        right: -$slider-arrows-space;

        @include breakpoint(medium up) {
            right: -$slider-arrows-space-medium-up;
        }
    }
}

.flickity-rtl {
    .flickity-prev-next-button {
        &.previous {
            left: auto;
            right: 10px;
        }

        &.next {
            right: auto;
            left: 10px;
        }
    }

    .flickity-page-dots {
        direction: rtl;
    }
}

.flickity-page-dots {
    position: absolute;
    width: 100%;
    bottom: -25px;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    line-height: 1;

    .dot {
        display: inline-block;
        width: 10px;
        height: 10px;
        margin: 0 8px;
        background: $color_mine_shaft_approx;
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 50%;
        opacity: 0.25;
        cursor: pointer;

        &.is-selected {
            opacity: 1;
        }
    }
}

// -----------------------------------------------------------------------------
.game-select {
    margin: $baseline/2 $slider-arrows-space;

    @include breakpoint(medium up) {
        margin: $baseline/2 $slider-arrows-space-medium-up;
    }

    .carousel-cell {
        width: $baseline * 4;
        height: auto;
        margin-right: 0;

        @include breakpoint(medium up) {
            width: $baseline * 6.5; // 100/5  5 elements
        }
    }
}

.game-container {
    [class^="game-"] {
        width: 100%;
    }
}

.round-bet {
    [class^="round-"] {
        width: 100%;
    }
}

.round-select {
    margin: 0 $slider-arrows-space $baseline/2;

    @include breakpoint(medium up) {
        margin: 0 $slider-arrows-space-medium-up $baseline/2;
    }

    .round {
        width: $baseline * 3; // 100/5  5 elements
        height: auto;
        margin-right: 0;

        @include breakpoint(medium up) {
            width: $baseline * 6; // 100/5  5 elements
        }
    }
}

.flickity-enabled.is-fade .flickity-slider > * {
    pointer-events: none;
    z-index: 0;
}

.flickity-enabled.is-fade .flickity-slider > .is-selected {
    pointer-events: auto;
    z-index: 1;
}
