<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Superbast Virtual games</title>
    <link rel="stylesheet" href="{{root}}assets/css/app.css">

</head>
<body>
{{> body}}

<script src="{{root}}assets/js/app.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="{{root}}assets/custom/jquery.min.js"></script>
<script src="{{root}}assets/custom/jquery.scrollbar.min.js"></script>
<script src="{{root}}assets/custom/flickity.pkgd.min.js"></script>
<script src="{{root}}assets/custom/flickity-fade.js"></script>
<script src="{{root}}assets/custom/component-init.js"></script>
</body>
</html>
